body {
  margin: 0;
  padding: 0; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box; }

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url("/sass/fonts/Lato-Light.eot") format("eot"), url("/sass/fonts/Lato-Light.woff2") format("woff2"), url("/sass/fonts/Lato-Light.woff") format("woff"), url("/sass/fonts/Lato-Light.ttf") format("truetype"); }
body {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.wrapper {
  width: calc(100% - 160px);
  background-color: #ffffff; }

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url("/sass/fonts/Lato-Light.eot") format("eot"), url("/sass/fonts/Lato-Light.woff2") format("woff2"), url("/sass/fonts/Lato-Light.woff") format("woff"), url("/sass/fonts/Lato-Light.ttf") format("truetype"); }
body {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

header {
  padding: 80px 0; }
  header .wrapper {
    background-color: transparent; }
    header .wrapper .brand {
      font-size: 42px;
      line-height: 25px;
      color: #333333;
      font-style: italic;
      margin: 0;
      float: left; }
    header .wrapper nav {
      float: right;
      font-size: 16px;
      font-weight: bold;
      line-height: 25px;
      color: #333333; }
      header .wrapper nav ul li {
        list-style-type: none;
        float: left;
        margin-left: 34px;
        cursor: pointer; }
        header .wrapper nav ul li a {
          text-decoration: none;
          color: #333333; }
          header .wrapper nav ul li a:hover {
            color: #5b6bbf; }
      header .wrapper nav ul .dropdown__content {
        display: none;
        right: auto !important; }
      header .wrapper nav ul .dropdown:hover .dropdown__content {
        position: absolute;
        display: block;
        display: flex;
        flex-direction: column;
        background-color: #333333;
        color: #5b6bbf; }
        header .wrapper nav ul .dropdown:hover .dropdown__content--item {
          margin-left: 0;
          padding: 5px; }
          header .wrapper nav ul .dropdown:hover .dropdown__content--item:hover {
            background-color: #ffffff; }
            header .wrapper nav ul .dropdown:hover .dropdown__content--item:hover a {
              color: #5b6bbf; }
          header .wrapper nav ul .dropdown:hover .dropdown__content--item a {
            color: #ffffff; }
  @media screen and (max-width: 479px) and (min-width: 320px) {
    header .wrapper {
      width: calc(100% - 50px); } }
  @media screen and (max-width: 768px) and (min-width: 320px) {
    header ::-webkit-scrollbar {
      width: 0px;
      background: transparent; }
    header .wrapper .navbar .hamburger-menu {
      width: 32px;
      height: 26px;
      display: block;
      float: right;
      z-index: 1;
      background: url("/icons/burger.png") 0 0; }
    header .wrapper nav {
      position: relative;
      right: 0;
      width: 80%;
      z-index: 1;
      margin-top: 10px; }
      header .wrapper nav ul {
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: fixed;
        right: -1000px;
        width: 80%;
        height: 150px;
        overflow-y: scroll;
        transition: right 1s;
        background-color: #5b6bbf; }
        header .wrapper nav ul li a {
          color: #ffffff; }
        header .wrapper nav ul li:hover a {
          color: #9DA6D9; }
        header .wrapper nav ul .dropdown {
          color: #ffffff; }
          header .wrapper nav ul .dropdown:before {
            content: " + "; }
          header .wrapper nav ul .dropdown__content {
            position: relative !important;
            padding: 0;
            height: 140px; }
          header .wrapper nav ul .dropdown:hover .dropdown__content {
            display: flex;
            width: 140px;
            flex-direction: column;
            background-color: transparent;
            color: #ffffff; }
            header .wrapper nav ul .dropdown:hover .dropdown__content--item {
              margin-left: 5px;
              padding: 5px; }
              header .wrapper nav ul .dropdown:hover .dropdown__content--item:hover {
                background-color: transparent; }
                header .wrapper nav ul .dropdown:hover .dropdown__content--item:hover a {
                  color: #9DA6D9; }
      header .wrapper nav .fa-search {
        display: none; } }
  @media screen and (max-width: 768px) and (min-width: 480px) {
    header .wrapper {
      width: calc(100% - 30px); } }
  @media screen and (max-width: 1440px) and (min-width: 1200px) {
    header .wrapper {
      width: calc(100% - 460px); } }

.sticky {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0;
  z-index: 1;
  background-color: #F7F9FC;
  transition: all 0.5s ease; }

footer {
  width: 100%;
  background-color: #5b6bbf; }
  footer .wrapper {
    background-color: transparent;
    padding: 65px 98px 75px 98px;
    text-align: center; }
    footer .wrapper .footer-title {
      font-size: 36px;
      font-family: "Lato", sans-serif;
      line-height: 25px;
      color: #4A569A;
      font-weight: bold;
      font-style: italic;
      margin: 0; }
    footer .wrapper nav {
      font-size: 16px;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      line-height: 25px;
      padding-bottom: 45px;
      padding-top: 45px;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .wrapper nav li {
        list-style-type: none;
        margin-left: 33px;
        cursor: pointer;
        float: left; }
      footer .wrapper nav a {
        text-decoration: none;
        color: #ffffff; }
      footer .wrapper nav .active {
        color: #9DA6D9; }
    footer .wrapper .footer {
      border-top: 2px solid #5765B5;
      padding: 45px 0; }
      footer .wrapper .footer__text {
        font-size: 13px;
        font-family: "Lato", sans-serif;
        line-height: 23px;
        color: #9DA6D9;
        font-weight: 400;
        margin-bottom: 0;
        padding: 0 2%; }
    footer .wrapper .copyright {
      width: 90%;
      border-top: 2px solid #5765B5;
      padding-top: 40px;
      padding-bottom: 20px;
      margin-left: 5%; }
      footer .wrapper .copyright__text {
        font-size: 14px;
        font-family: "Lato", sans-serif;
        line-height: 23px;
        color: #9DA6D9;
        font-weight: 400; }
      footer .wrapper .copyright span {
        color: #ffffff;
        font-weight: 600; }
    footer .wrapper .footer-social__network {
      text-decoration: none; }
      footer .wrapper .footer-social__network--logo {
        height: 22px;
        width: 22px;
        margin-left: 20px; }
  @media screen and (max-width: 1440px) and (min-width: 1200px) {
    footer .wrapper {
      width: calc(100% - 460px); } }
  @media screen and (max-width: 768px) and (min-width: 480px) {
    footer .wrapper {
      padding: 65px;
      width: 100%; }
      footer .wrapper .fa-search {
        display: none; }
      footer .wrapper ul li:first-child {
        margin-left: 0; }
      footer .wrapper .copyright {
        padding: 0 5px; } }
  @media screen and (max-width: 479px) and (min-width: 320px) {
    footer .wrapper {
      width: 100%;
      padding: 70px 30px; }
      footer .wrapper .fa-search {
        display: none; }
      footer .wrapper nav li {
        margin-left: 0;
        margin-bottom: 10px;
        float: left;
        clear: left;
        width: 100px;
        text-align: center; }
      footer .wrapper .footer {
        padding: 30px 0; }
        footer .wrapper .footer__text {
          padding: 0 15px; }
      footer .wrapper .copyright {
        width: 100%;
        margin-left: 0;
        padding: 30px 0;
        font-size: 15px; }
        footer .wrapper .copyright .copyright__text {
          padding: 0; }
          footer .wrapper .copyright .copyright__text span {
            display: block; } }

main .wrapper {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); }
main .post {
  height: 100%;
  background-color: #ffffff;
  padding: 90px 98px 110px 98px; }
  main .post__tag {
    width: 94px;
    height: 32px;
    background-color: #5b6bbf;
    color: #ffffff;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-align: center;
    float: right;
    position: relative;
    left: 110px;
    bottom: 8px; }
  main .post__date {
    font-size: 14px;
    line-height: 50px;
    font-family: "Lato", sans-serif;
    color: #BDBDBD;
    font-weight: bold; }
  main .post__title {
    border-bottom: 2px solid #ededed;
    margin-bottom: 40px; }
    main .post__title--name {
      font-size: 40px;
      font-family: "Lato", sans-serif;
      line-height: 50px;
      color: #000000;
      font-weight: bold; }
  main .post__content {
    padding-right: 15px; }
    main .post__content--image {
      float: left;
      padding-right: 15px;
      padding-bottom: 15px; }
    main .post__content--text {
      font-size: 17px;
      font-family: "Lato", sans-serif;
      line-height: 30px;
      color: #333333;
      font-weight: 400;
      margin-top: 40px; }
      main .post__content--text--link {
        color: post-link-color;
        text-decoration: underline; }
      main .post__content--text--quote {
        height: auto;
        border-left: 4px solid #EEEEEE;
        padding-left: 23px; }
        main .post__content--text--quote span {
          font-size: 20px;
          line-height: 30px;
          color: #999999;
          font-weight: 400; }
  main .post__hashtags {
    font-size: 15px;
    font-family: "Lato", sans-serif;
    line-height: 50px;
    color: #BDBDBD;
    float: right;
    font-weight: 400; }
    main .post__hashtags--tag:first-child {
      padding-right: 5px; }
@media screen and (max-width: 1440px) and (min-width: 1200px) {
  main .wrapper {
    width: calc(100% - 460px); } }
@media screen and (max-width: 768px) and (min-width: 321px) {
  main .wrapper {
    width: calc(100% - 30px); }
  main .post {
    padding: 50px 50px 80px 50px; }
    main .post__title--name {
      font-size: 32px;
      line-height: 42px; }
    main .post__date {
      font-size: 18px; }
    main .post__tag {
      height: 38px;
      width: 111px;
      position: relative;
      left: 50px;
      bottom: 50px;
      font-size: 18px;
      font-weight: 400;
      line-height: 42px; }
    main .post__content {
      padding: 0; }
      main .post__content--image {
        float: none;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 380px;
        width: auto; }
    main .post__hashtags {
      float: left; } }
@media screen and (max-width: 320px) {
  main .wrapper {
    width: calc(100% - 50px); }
  main .post {
    padding: 25px 25px 80px 25px; }
    main .post__tag {
      height: 34px;
      width: 97px;
      position: relative;
      left: 25px;
      bottom: 25px;
      font-size: 15px;
      font-weight: 400;
      line-height: 35px; }
    main .post__title--name {
      font-size: 23px;
      line-height: 32px; }
    main .post__date {
      font-size: 15px;
      line-height: 50px; }
    main .post__text p {
      font-size: 16px;
      line-height: 28px; }
    main .post__quote {
      padding-left: 20px; }
      main .post__quote span {
        font-size: 17px;
        line-height: 26px; } }

.comments {
  margin-bottom: 120px;
  border-top: 1px solid #F2F2F2;
  padding: 90px 100px 110px 100px;
  height: 100%;
  font-family: "Lato", sans-serif; }
  .comments__text-area {
    width: 100%;
    margin-bottom: 20px; }
    .comments__text-area textarea {
      width: 100%;
      height: 50px;
      border: 1px solid rgba(0, 0, 0, 0.09);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
      padding-top: 15px;
      padding-left: 10px; }
  .comments .comment {
    border: 1px solid #F2F2F2;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%; }
    .comments .comment__user {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px; }
      .comments .comment__user--image {
        width: 50px;
        height: 50px; }
      .comments .comment__user--info {
        margin-left: 5px;
        padding-top: 10px; }
        .comments .comment__user--info p {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 5px; }
        .comments .comment__user--info .date {
          color: #999999; }
        .comments .comment__user--info .full-name {
          color: #007DBC; }
    .comments .comment__content--text {
      font-size: 17px;
      line-height: 30px;
      color: #333333;
      font-weight: 400;
      margin-top: 40px; }

@media screen and (max-width: 479px) and (min-width: 320px) {
  .comments {
    padding: 60px 25px; } }
@media screen and (max-width: 768px) and (min-width: 480px) {
  .comments {
    padding: 60px 50px; } }

/*# sourceMappingURL=style.css.map */
