@import "../helpers/mixins";
@import "../helpers/variables";
@import "../base/colors";
footer {
    width: 100%;
    background-color: $background-footer-color;
    .wrapper {
        background-color: transparent;
        padding: 65px 98px 75px 98px;
        text-align: center;
        .footer-title {
            font-size: 36px;
            font-family: $font-lato;
            line-height: 25px;
            color: $footer-title-color;
            font-weight: bold;
            font-style: italic;
            margin: 0;
        }
        nav {
            font-size: 16px;
            font-family: $font-lato;
            font-weight: bold;
            line-height: 25px;
            padding-bottom: 45px;
            padding-top: 45px;
            color: $text-color-primary-light;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                list-style-type: none;
                margin-left: 33px;
                cursor: pointer;
                float: left;
            }
            a {
                text-decoration: none;
                color: $text-color-primary-light;
            }
            .active {
                color: #9DA6D9;
            }
        }
        .footer {
            border-top: 2px solid $border-footer-color;
            padding: 45px 0;
            &__text {
                font-size: 13px;
                font-family: $font-lato;
                line-height: 23px;
                color: $text-color-primary-ligtPurple;
                font-weight: 400;
                margin-bottom: 0;
                padding: 0 2%;
            }
        }
        .copyright {
            width: 90%;
            border-top: 2px solid $border-footer-color;
            padding-top: 40px;
            padding-bottom: 20px;
            margin-left: 5%;
            &__text {
                font-size: 14px;
                font-family: $font-lato;
                line-height: 23px;
                color: $text-color-primary-ligtPurple;
                font-weight: 400;
            }
            span {
                color: $text-color-primary-light;
                font-weight: 600;
            }
        }
        .footer-social {
            &__network {
                text-decoration: none;
                &--logo {
                    height: 22px;
                    width: 22px;
                    margin-left: 20px;
                }
            }
        }
    }
    @include mQ(1440px, 1200px) {
        .wrapper {
            width: calc(100% - 460px);
        }
    }
    @include mQ(768px, 480px) {
        .wrapper {
            padding: 65px;
            width: 100%;
            .fa-search {
                display: none;
            }
            ul {
                li {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            .copyright {
                padding: 0 5px;
            }
        }
    }
    @include mQ(479px, 320px) {
        .wrapper {
            width: 100%;
            padding: 70px 30px;
            .fa-search {
                display: none;
            }
            nav {
                li {
                    margin-left: 0;
                    margin-bottom: 10px;
                    float: left;
                    clear: left;
                    width: 100px;
                    text-align: center;
                }
            }
            .footer {
                padding: 30px 0;
                &__text {
                    padding: 0 15px;
                }
            }
            .copyright {
                width: 100%;
                margin-left: 0;
                padding: 30px 0;
                font-size: 15px;
                .copyright__text {
                    padding: 0;
                    span {
                        display: block;
                    }
                }
            }
        }
    }
}