// Text 
$text-color-primary: #333333;
$text-color-primary-light: #ffffff;
$text-color-primary-lightGray: #999999;
$text-color-primary-dark: #000000;
$text-color-primary-ligtPurple: #9DA6D9;

// Backgrounds 
$background-color-primary: #f7f9fc;
$background-color-secondary: #ffffff;
$background-color-quaternary: #5b6bbf;

// Footer
$background-footer-color: #5b6bbf;
$footer-title-color: #4A569A;

// Border
$border-footer-color: #5765B5;
$border-comments-color: #F2F2F2;
$border-post-color: #ededed;

// Navigation
$sticky-header-primary-color: #F7F9FC;
$navigation-hover-color-primary: #5b6bbf;
$navigation-hover-color-secondary: #9DA6D9;
$navigation-link-color-primary: #ffffff;
$navigation-link-color-secondary: #9DA6D9;
$navigation-link-color-quaternary: #5b6bbf;
$navigation-link-color-quinary: #333333;
$navigation-background-color-primary: #5b6bbf;
$navigation-background-color-secondary: #333333;

// Comments 
$comment-user-info-color: #007DBC;

// Post
$post-link-color: #5b6bbf;
$text-post-quote-color: #EEEEEE;
$text-post-hashtags-color: #BDBDBD;
$post-quote-border-color: #EEEEEE;
$text-post-date-color: #BDBDBD;